input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body{
  margin: 0;
  background-color: #2f1227ff;
  text-align: center
}



.nav-bar{
  width: 900px;
  margin-bottom: 2em;
  background-color: #5b150dff;
  display: inline-flex;

}

.nav-bar a{
  width: 66%;
  text-decoration: none;
  color: black;
}

.nav-bar a:hover{
  color: #df7a3cff;
}

.title{
  color: #246378ff;
}

.swap-zone{
  background-color: #5b150d;
  align-items: center;
  align-self: center;
  align-content: center;
}

.fields{
  height: 40px;
  margin: 5px;
  background-color: #362c24ff;
  border: none;
  outline: none;
  border-radius: 10px;
}

.fields:hover{
  height: 40px;
  margin: 5px;
  background-color: #181a1bff;
  border: none;
  outline: none;
  border-radius: 10px;
}

.fields::selection{
  height: 40px;
  margin: 5px;
  background-color: #181a1bff;
  border: none;
  outline: none;
  border-radius: 10px;
}

.tvl{
  margin: 10px;
  background-color: #362c24ff;
  border: none;
  outline: none;
}
