.nav-bar{
  display: inline-flex;
}

.nav-bar a{
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}

.nav-bar .title{
  margin: 0;
}

.cg-widget{
  position: absolute;
  right: 0px;
  width: 250px;
}
